body{
  padding: 0 0 0 0; 
  background: #f5e0ff; 
  overflow-x: hidden; 
  overflow-y: hidden; 
}

header{
  width: 100%; 
  height: 10vh; 
  padding: 0 0 0 0; 
  background-color: #efccff; 
  align-items: center; 
}

a{
  font-family: Arial, sans-serif; 
  font-weight: bold; 
  transition: all 0.3s ease; 
  text-decoration: none; /* Removes default underline */
}

a:focus{
  outline: 2px solid #ff9800; 
  background-color: #fff3e0; 
}

a.headerHome{
  /* WIP */
  font-size: 0.5em; 
  color: #81499c; 
  padding: 1% 2% 1% 2%;
}

a.headerHome:hover{
  /* WIP */
  background-color: #e0a4fc; 
  color: #ffffff; 
}

a.headerButtons{
  /* WIP */
  font-size: 0.5em; 
  display: inline flow-root;
  background-color: #ffffff; 
  color: #81499c; 
  padding: 1% 2% 1% 2%; 
}

a.headerButtons:hover{
  /* WIP */
  background-color: #e0a4fc; 
  color: #ffffff;
}
